@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);
@font-face {
  font-family: 'DSEG7-7SEGG';
  src: url('../node_modules/dseg/fonts/DSEG7-Classic/DSEG7Classic-Bold.woff2') format('woff2'),
  url('../node_modules/dseg/fonts/DSEG7-Classic/DSEG7Classic-Bold.woff') format('woff'),
  url('../node_modules/dseg/fonts/DSEG7-Classic/DSEG7Classic-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
html{
  height:100%;
}
body{
  background-color: #ccc;
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Noto Sans KR', sans-serif;
}

#root{
  display: flex;
  justify-content: center;
  align-items: center;
}
.App {
  position: relative;
  width:260px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color:#111;
  color:#fff;
}

.counter-wrapper{
  display: flex;
  margin:15px;
  justify-content: center;
  align-items: center;
}

#counter{
  font-size:40px;
  margin: 10px 20px 0px;
  color:#ccc;
  font-weight: bold;
  font-family: 'DSEG7-Classic';
}

#counter.time-running{
  color:lightskyblue;
}


.button-group{
  display: flex;
  flex-direction: column;
}

button{
  background-color: #eee;
  cursor: pointer;
  outline: none;
  border:none;
}

button:hover{
  background-color: #fff;
}

.button-group button{
  width:50px;
  border:1px solid #333;
  border-radius: 3px;
  height:25px;
  background-color: #111;
  color:#ddd;
  margin-bottom: 3px;
}

.button-group button:hover{
  background-color: #000;
  color:#fff;
  border:1px solid #222;
}

.button-group .min{
  margin-bottom: 3px;
  color:#888;
  font-size:12px;
}

.control-buttons{
  display: flex;
}

.control-buttons button{
  /*margin: 3px;*/
  /*border-radius: 3px;*/
  width:50%;

  border-right:1px solid #ccc;
  box-shadow: none;

  height:35px;
  line-height: 35px;
  font-size:14px;
  flex-basis:auto;
}
.dimmed{
  position: absolute;
  width:100%;
  height:100%;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.timeout-modal{
  width:80%;
  height:80%;
  background-color: #fff;
  color:black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.timeout-modal p{
  margin:10px;
}

.timeout-modal button{
  padding:5px 15px;
}